*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    background: linear-gradient(90deg, #252A2E,#252A2E);

}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 35%;
    top: 25%;
    width: 450px;
    height: 450px;
    background: linear-gradient(90deg, white,#e52222);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 2.5s linear infinite;
}

@keyframes sliderShape{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family:'Helvetica Neue', sans-serif;
}

.header i {
    margin-left: 20px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.popover {
    display: none;
    box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: #fff;
    background-color: #191919;
    animation: 1s grow ease forwards;
    text-align: center;
}

.nav_list  {
    list-style-type: none;
}

.nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
}

.nav_list_item {
    height: 100%;
    overflow: hidden;
}

.nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards .5s;
    position: relative;
}

.nav_list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #0f12e7;
    transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #0f3ad5;
    color: #fff;
    content: "×";
    cursor: pointer;
    opacity: 0;
    animation: 1s fadeIn ease forwards .5s;
}

.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;

}

.titre h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titre h3{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@keyframes grow {
    100% {
        height: 100%;
        width: 100%;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Partie CV */


.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #e52222;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #e52222;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #e52222;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #e52222;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e52222;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}
/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #e52222;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #e52222;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}
/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #e52222;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #e52222;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #e52222;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #e52222;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #e52222;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e52222;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #e52222;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e52222;
    float: left;
    position: relative;
    bottom: 4px;
}

/* Section projet */

.projets{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.projet h4{
    font-size: 24px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.projet span{
    font-size: 18px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.diff-projet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1100px;

}

.groupePrjet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1100px;
}

.lien img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.lien img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

.lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;

    padding: 20px;
    margin: 20px;
}

.projets h3{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}


#contact{
    background-color: white;
    width: 100%;


}

.textContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textContact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.moyens{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textContact p{
    font-size: 24px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contactMoyens{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.moyensContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    padding: 20px;
    margin: 20px;
}

.telephone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    background-color: #e52222;
    padding: 75px;
}




.mailBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    background-color: dodgerblue;
    padding: 75px;
}

.linkBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    background-color: orange;
    padding: 75px;
}

.githubBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    background-color: green;
    padding: 75px;
}



